
<div class="container">  
     <!--  <footer class="navbar navbar-inverse navbar-fixed-bottom">    
         <p class="text-muted text-center footerText">&copy; 2016 markel33</p>   
      </footer>-->
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/cart.js"></script>
  <script type="text/javascript" src="/static/hacks.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/9c012823b9.js"></script>



</body>
</html>