@font-face {
  font-family: 'Boxcutter';
  src: url('/fonts/boxcutter-bold-webfont.ttf');
}

body{
      	background-color: black;
       color: white;
        background-image: url("/img/back.jpg");
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
	    }
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

      #logo {
          width: 50%;
          height: auto;
          /*margin-top: 80px;          */
          /*position: relative;
          right: 70px;*/
      }
      .insta {

          width: auto;
            height: 50px;
            margin-right: 5px;
        }
        .vk{

          width: auto;
            height: 40px;            
            margin-top: 5px;
        }
      .price {
        display: inline-block;
        text-align: center;
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 30px;
        font-weight: 200;
        margin-top: 1px;

        transition: background-color .3s ease;
      }

      .glyphicon-flash{
            color: yellow;
        }

      #bootstrap_ov .thumbnail{
        background-color: rgba(255,255,255,0.50);
        border-color: black;
        border-width: 2px;
      }

    .footerText{
      padding-top: 15px;
    }

     #mainContent{
            margin-bottom: 100px;
      }

      #shoppingCart{
        display: block;
        opacity: 0;
        background-color: rgba(255,255,255,0.50);
        color: black;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid black;
        margin-top: 10px;
        transition: opacity 1s ease;

      }
      .cart_wrap {
        display: none;
      }

      .item_image {
      height: 0;
      padding-bottom: 66.66666666666666666666667%;
      background-size: cover;
      }
      .item_cart_quantity_input {
        width: 45px;
        height: 34px;
        text-align: center;
        border: 1px solid lightblue;
        border-radius: 10px;

      }
      .table>tbody>tr>td {
        vertical-align: middle;
        border-top: 1px solid lightblue;
      }
      .table {
        margin-bottom: 0;
      }

      .item_category {
        display: none;
      }
      #cart_items {
        display: none;
      }
      .insta_image {
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      }
      .inst_desc {
        display: none;
        border: 1px solid red;    
      }
  .form_wrap {
    border: 1px solid red;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.50);
    color: black;
    margin-bottom: 15px;
  }
  .main_vid {
    border: 3px solid black;
    height: 100%;
  }
  .order_form_el {
    margin: 5px;
  }
  .cont {
    opacity: 0;
    transition: opacity 1s ease;
  }
#cart-total {
  font-size: 25px;
  border: 1px solid black;
  color: white;
  padding: 5px;
  background-color: black;
  transition: background-color .3s ease;
  font-weight: 300;

}
.orderbtn {
  margin-top: 5px;
  background-color: lightgrey;
  vertical-align: middle;
  border:1px solid black;
  font-size: 20px;
  color: black;
    padding: 5px;
    transition: background-color .3s ease;
  
}
.no-touch .orderbtn:hover {
background-color: black;
color: white;
}
.item-container {
  font-size: 16px;
}
.add_to_cart {
  display: inline-block;

  text-align: center;
  font-size: 30px;
        font-weight: 200;
        margin-top: 1px;
        padding: 5px;
  background-color: grey;
   font-weight: 100;
  color: white;
  transition: background-color .3s ease;

}



.no-touch .add_to_cart:hover{
  background-color: black;
  cursor: pointer;
}

.item_name{
  font-family: 'Boxcutter' , 'serif';

     -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;


  text-align: center;
  font-size: 60px;
  padding: 3px;
  background-color: black;
  color: black;
}
.shop-item{
  padding: 0px;
}
.shelfItem{
  padding: 0px!important;
}


