body{
      	background-color: black;
       color: white;
        background-image: url("/img/back.jpg");
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
	    }

      #logo {
          width: 50%;
          height: auto;
          /*margin-top: 80px;          */
          /*position: relative;
          right: 70px;*/
      }
      .insta {

          width: auto;
            height: 50px;
            margin-right: 5px;
        }
        .vk{

          width: auto;
            height: 40px;            
            margin-top: 5px;
        }
      .price {
        display: inline-block;
        background-color: black;
        color: white;
        margin: 5px;
        padding: 5px;
        margin-left: 0;
      }

      .glyphicon-flash{
            color: yellow;
        }

      #bootstrap_ov .thumbnail{
        background-color: rgba(255,255,255,0.50);
        border-color: black;
      }

    .footerText{
      padding-top: 15px;
    }

     #mainContent{
            margin-bottom: 100px;
      }

      #shoppingCart{
        display: none;
        background-color: rgba(255,255,255,0.50);
        color: black;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid black;
        margin-top: 10px;
      }
      .item_image {
      height: 0;
      padding-bottom: 66.66666666666666666666667%;
      background-size: cover;
      }
      .item_cart_quantity_input {
        width: 45px;
        height: 34px;
        text-align: center;
        border: 1px solid lightblue;
        border-radius: 10px;

      }
      .table>tbody>tr>td {
        vertical-align: middle;
        border-top: 1px solid lightblue;
      }

      .item_category {
        display: none;
      }
      #cart_items {
        display: none;
      }

