{{>header}}

<div class="container" id="mainContent">
  
  <div class="row">
    <div class=" col-xs-4 col-md-4">
      <a href="1.jpg" data-title="T-shirt" data-lightbox="Shop" class="thumbnail">
        <img src="1.jpg" alt="1" class="img-round">
      </a>
    </div>

</div>


{{>footer}}