{{>header}}

<div class="container" id="mainContent">
  
{{#each this}}
	{{#if link}}
    <div class=" col-xs-4 col-md-4">
        <img src="{{images.thumbnail.url}}" alt="1" class="img-round">
    </div>
    {{/if}}
{{/each}}

{{>footer}}