{{>header}}
<link rel="stylesheet" type="text/css" href="css/lightbox.css">
<body>
<div class="container" id="mainContent">
{{#each this}}
	{{#if link}}
    <div class=" col-xs-3 col-md-3">
	    <a href="{{images.standard_resolution.url}}" data-title="{{caption.text}}" data-lightbox="Shop" class="thumbnail">
	        
	        <div class="insta_image" style="background-image: url('{{images.low_resolution.url}}');"></div>
	    
	        {{#if caption.text}}
	    <div class=" inst_desc">
	    {{caption.text}}
	    </div>
	    {{/if}}

	    </a>

    </div>

    
    {{/if}}
{{/each}}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/lightbox.min.js"></script>


    
{{>footer}}
<script>$(document).ready(function(){$( "#nav_item2" ).addClass( "active" );}) </script>