{{>header}}

<div class="container" id="mainContent">

<div class = "form_wrap">
<form class="form-horizontal" id="local-sign-in" action="/login" method="post">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Логин</label>
    <div class="col-sm-6">
          <input type="text" class="form-control" id="exampleInputName2" name="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Пароль</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="exampleInputEmail2" name="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default">Войти</button>
    </div>
  </div>
</form>

</div>


<a class="btn btn-primary btn-lg btn-block" href="/" role="button" data-slide="prev"> На главную </a>

<form id="local-reg" class="collapse" action="/local-reg" method="post">
    <div>
        <p></p>
        <label>New Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
  </form>
</div>
</div>

<!-- REMOVE THIS BEFORE GOING LIVE -->

{{>footer}}